<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

    <title>Edit Credential</title>
</head>
<body>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="credentialModalLabel">Credential</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" th:action="@{/home/update}" th:object="${updateCredential}" method="POST">
                    <input type="hidden" th:field="*{credentialId}" >
                    <div class="form-group">
                        <label class="col-form-label">URL</label>
                        <input type="text" id="credential-url" th:field="*{url}" class="form-control" maxlength="100" required>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Username</label>
                        <input type="text" id="credential-username" th:field="*{username}" class="form-control" maxlength="30" required>
                    </div>
                    <input type="hidden" th:field="*{encryptionkey}" >
                    <div class="form-group">
                        <label class="col-form-label">Password</label>
                        <input type="text" id="credential-password" th:field="*{password}" class="form-control " maxlength="30" required>
                    </div>
                    <input type="hidden" th:field="*{userId}" >
                    <div class="modal-footer">
                        <a class="btn btn-secondary" th:href="@{/home}">Close</a>
                        <button type="submit" id="saveCredential" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>